html{
    margin: 10px 250px 50px 250px;
    border-width: 25px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

span {
    color: red;
    text-align: center;
    margin-left: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.inputDiv {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.issues {
    margin-left: 100px;
}
h1 {
    font-family: 'Pacifico', cursive;
    color: #b4e356;
    text-align: center;
}
body {
    position: relative;
    display: inline-block;
}

.nav {
    text-align: center;
    position: relative;
    display: inline-block;
}