html {
  margin: 10px 250px 50px 350px;
  border-width: 25px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  position: relative;
  display: inline-block;
}

span {
  color: red;
  text-align: center;
  margin-left: 100px;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #b4e356;
  text-align: center;
  font-size: 60px;
}

h3 {
  font-family: 'Pacifico', cursive; 
}

input {
  margin-right: 20px;
}

.nav {
  text-align: center;
  position: relative;
  display: inline-block;
}

.inputsDiv {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}

#select {
  background-color: #d3f296;
  color: grey;
  font-size: 16px;
  padding: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.issues {
  text-align: center;
  border: 2px solid grey;
  border-width: 1px 3px 3px 1px;
  border-radius: 5px;
  background-color: #d3f296;
}

.listItem {
  list-style-type: none;
  border: 3px solid grey;
  border-width: 1px 3px 3px 1px;
  border-radius: 5px;
  margin-right: 28px;
  margin-bottom: 5px;
  text-align: center;
  background-color: white;
}

.space {
  height: 20px;
}

li:hover {
  background-color: #77A618;
}